@model NewsFeedMe.Models.FollowingModel
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <div class="row">
        <div class="container col-md-4 col-md-offset-4">
            <div class="toast toast-success">
                <div class="h4 text-center">
                    <b>Great! </b><span>@ViewBag.Message</span>
                </div>
            </div>
        </div>
    </div>
}
<button class="btn btn-warning" id="myBtn" title="Jump to top"><span class="fa fa-arrow-up large"></span></button>
<div class="container">
    <h3 class="text-capitalize text-center h2">Follow topics, news sources or whatever tickles your fancy</h3>
    <div class="row">
        @*<div class="col-lg-6 col-lg-offset-3">
            <input id="searchBar" type="text" class="form-control" placeholder="Search" style="max-width:none">
        </div>*@
    </div>
    <br />
    @if (Model.FollowedSources.Count > 0 || Model.FollowedTopics.Count > 0)
    {
        <div class="row">
            <div class="col-md-offset-3 col-md-6 panel panel-body" role="alert" id="followedTopics">
                <div class="container-fluid">
                    <div class="row"><b>Following: </b></div>
                    <div class="row col-lg-offset-1 col-lg-11">
                        <b>
                            @foreach (var cat in Model.FollowedTopics)
                            {<span class="chip text-capitalize" role="button" title="Click To Unfollow" id="@cat.CID">@cat.CID <span class="fa fa-times pull-right"></span></span>}
                            @foreach (var source in Model.FollowedSources)
                            {<span class="chip text-capitalize" role="button" title="Click To Unfollow" id="@source.PID">@source.Name <span class="fa fa-times pull-right"></span></span>}
                        </b>
                    </div>
                    <div class="row" hidden="hidden" id="deleteFollowing"><br /><div class="pull-right btn btn-danger" id="deleteFollowingBtn" data-request-url="@Url.Content("~/Manage/DeleteFollowing")"><b><span class="fa fa-trash"></span> Unfollow!</b></div></div>
                </div>
            </div>
        </div>
    }
    <div class="row"  id="test">
        <div class="col-md-offset-3 col-md-6 panel panel-body" role="alert" hidden="hidden" id="topicsWindow">
            <div class="container-fluid">
                <div class="row"><b>Add: </b><div class="pull-right btn btn-success" id="saveFollowing" data-request-url="@Url.Content("~/Manage/SaveFollowing")"><b><span class="glyphicon glyphicon-saved"></span> Follow!</b></div></div>
                <div class="row"><span class="text-danger" id="warning" hidden="hidden"><b>Woah!</b> You're not following anything. There must be <em>something</em> you're interested in</span></div>
                <div class="row col-lg-offset-1 col-lg-11"><b id="selectedTopics"></b></div>
            </div>
        </div>
    </div>

    <br />
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-12">
                <div class="btn-group btn-group-lg btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" id="categorySwap"><span class="fa fa-list-ul large"></span><b id="Desktop-Categories" class="h3"> Categories</b></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" id="newsSwap"><span class="fa fa-newspaper-o large"></span><b id="Desktop-Sources" class="h3"> News Sources</b></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" id="customSwap"><span class="fa fa-star large"></span><b id="Desktop-Custom" class="h3"> Custom</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container-fluid" id="Publishers">
            @for (int i = 0; i < Model.AllSources.Count; i += 3)
            {
                <div class="row">
                    <div class="container-fluid col-sm-4">
                        <div class="card" id="card-@Model.AllSources[i].PID">
                            <div class="card-header">
                                <a href="@Model.AllSources[i].URL" class="pull-right" title="Launch @Model.AllSources[i].Name" target="_blank"><em class="fa fa-external-link large"></em></a>
                                <h3 class="card-title">@Model.AllSources[i].Name</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">@Model.AllSources[i].Description</p>
                            </div>
                            <div class="card-footer">
                                @if (Model.FollowedSources.Any(x => x.PID.Equals(Model.AllSources[i].PID)))
                                {
                                    <button class="btn btn-success btn-block" disabled name="@Model.AllSources[i].Name" id="@Model.AllSources[i].PID"><span class="fa fa-check"></span><text class="h4"> Following!</text></button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-block" name="@Model.AllSources[i].Name" id="@Model.AllSources[i].PID"><span class="fa fa-plus"></span><text class="h4"> Follow</text></button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid col-sm-4">
                        <div class="card" id="card-@Model.AllSources[i].PID">
                            <div class="card-header">
                                <a href="@Model.AllSources[i+1].URL" class="pull-right" title="Launch @Model.AllSources[i+1].Name" target="_blank"><em class="fa fa-external-link large"></em></a>
                                <h3 class="card-title">@Model.AllSources[i + 1].Name</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">@Model.AllSources[i + 1].Description</p>
                            </div>
                            <div class="card-footer">
                                @if (Model.FollowedSources.Any(x => x.PID.Equals(Model.AllSources[i + 1].PID)))
                                {
                                    <button class="btn btn-success btn-block" disabled name="@Model.AllSources[i+1].Name" id="@Model.AllSources[i+1].PID"><span class="fa fa-check"></span><text class="h4"> Following!</text></button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-block" name="@Model.AllSources[i+1].Name" id="@Model.AllSources[i+1].PID"><span class="fa fa-plus"></span><text class="h4"> Follow</text></button>
                                }
                            </div>
                        </div>
                    </div> <div class="container-fluid col-sm-4">
                        <div class="card" id="card-@Model.AllSources[i].PID">
                            <div class="card-header">
                                <a href="@Model.AllSources[i+2].URL" class="pull-right" title="Launch @Model.AllSources[i+2].Name" target="_blank"><em class="fa fa-external-link large"></em></a>
                                <h3 class="card-title">@Model.AllSources[i + 2].Name</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">@Model.AllSources[i + 2].Description</p>
                            </div>
                            <div class="card-footer">
                                @if (Model.FollowedSources.Any(x => x.PID.Equals(Model.AllSources[i + 2].PID)))
                                {
                                    <button class="btn btn-success btn-block" disabled name="@Model.AllSources[i+2].Name" id="@Model.AllSources[i+2].PID"><span class="fa fa-check"></span><text class="h4"> Following!</text></button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-block" name="@Model.AllSources[i+2].Name" id="@Model.AllSources[i+2].PID"><span class="fa fa-plus"></span><text class="h4"> Follow</text></button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="container-fluid" id="Categories" hidden="hidden">
            @for (int i = 0; i < Model.AllTopics.Count; i += 3)
            {
                <div class="row">
                    <div class="container-fluid col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                @if (Model.FollowedTopics.Any(x => x.CID.Equals(Model.AllTopics[i].CID)))
                                {
                                    <h3 class="card-title text-capitalize">@Model.AllTopics[i].CID <button class="btn btn-success pull-right" disabled name="@Model.AllTopics[i].CID" id="@Model.AllTopics[i].CID"><span class="fa fa-check"></span><text class="h4"> Following!</text></button></h3>
                                }
                                else
                                {
                                    <h3 class="card-title text-capitalize">@Model.AllTopics[i].CID <button class="btn btn-primary pull-right" name="@Model.AllTopics[i].CID" id="@Model.AllTopics[i].CID"><span class="fa fa-plus"></span><text class="h4"> Follow</text></button></h3>
                                }
                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                    <div class="container-fluid col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                @if (Model.FollowedTopics.Any(x => x.CID.Equals(Model.AllTopics[i + 1].CID)))
                                {
                                    <h3 class="card-title text-capitalize">@Model.AllTopics[i + 1].CID <button class="btn btn-success pull-right" disabled name="@Model.AllTopics[i+1].CID" id="@Model.AllTopics[i+1].CID"><span class="fa fa-check"></span><text class="h4"> Following!</text></button></h3>
                                }
                                else
                                {
                                    <h3 class="card-title text-capitalize">@Model.AllTopics[i + 1].CID <button class="btn btn-primary pull-right" name="@Model.AllTopics[i+1].CID" id="@Model.AllTopics[i+1].CID"><span class="fa fa-plus"></span><text class="h4"> Follow</text></button></h3>
                                }
                            </div>
                        </div>
                    </div> <div class="container-fluid col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                @if (Model.FollowedTopics.Any(x => x.CID.Equals(Model.AllTopics[i+2].CID)))
                                {
                                    <h3 class="card-title text-capitalize">@Model.AllTopics[i+2].CID <button class="btn btn-success pull-right" disabled name="@Model.AllTopics[i+2].CID" id="@Model.AllTopics[i+2].CID"><span class="fa fa-check"></span><text class="h4"> Following!</text></button></h3>
                                }
                                else
                                {
                                    <h3 class="card-title text-capitalize">@Model.AllTopics[i+2].CID <button class="btn btn-primary pull-right" name="@Model.AllTopics[i+2].CID" id="@Model.AllTopics[i+2].CID"><span class="fa fa-plus"></span><text class="h4"> Follow</text></button></h3>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Settings").addClass('active');

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 312 || document.documentElement.scrollTop > 312) {
                document.getElementById("myBtn").style.display = "block";
                $('#test').addClass('navbar-fixed-top');
                $('#test').css('top', '60px');
            } else {
                document.getElementById("myBtn").style.display = "none";
                $('#test').removeClass('navbar-fixed-top');
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        $('#myBtn').click(function topFunction() {
            $('html, body').animate({ scrollTop: 0 }, 'fast');
        })
    });
</script>