@model NewsFeedMe.Models.FeedModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <button class="btn btn-warning" id="myBtn" title="Jump to top"><span class="fa fa-arrow-up large"></span></button>
    @foreach (var source in Model.FollowedSources)
    {
        if (Model.Publisher_Articles.Where(x => x.Publisher.PID.Equals(source.PID)).Count() > 0)
        {
            <div class="container"  id="panel">
                <div class="row"><div class="h1 text-capitalize pull-right">@source.Name.</div></div>
                <div class="">
                    @foreach (var article in Model.Publisher_Articles.Where(x => x.Publisher.PID.Equals(source.PID)).OrderByDescending(x => x.PublishedAt).Take(6))
                    {
                        <div class="col-sm-4">
                            <div class="card-special">
                                <a class="card-image" href="@article.URL" target="_blank"><img class="img-responsive" src="@article.URlToImage" /></a>
                                <div class="container-fluid">
                                    <div class="card-header" role="button" data-toggle="collapse" href="#card-@article.AID" aria-expanded="false">
                                        <div class="pull-right" role="button" data-toggle="collapse" href="#card-@article.AID" aria-expanded="false" aria-controls="collapseExample">
                                            <span class="fa fa-angle-down large"></span>
                                        </div>
                                        @if (article.Title.Length > 87)
                                        { <div class="card-title h4">@article.Title.Substring(0, 87)...</div>}
                                        else
                                        { <div class="card-title h4">@article.Title</div>}
                                    </div>
                                </div>
                                <div id="card-@article.AID" class="collapse">
                                    <div class="container-fluid">
                                        <text class="text-muted pull-right">@article.PublishedAt.Value.ToShortDateString()</text>
                                        <p class="text-muted">@article.Author</p>

                                        <p class="card-text" style="color:black;">@article.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <row>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="pull-right btn btn-success btn-block" href="#"><text class="h4">Load More @source.Name</text></div>
                    </div>
                </row>
                <br />
            </div>
        }
        <br />
    }
</div>

<script>
    $(document).ready(function () {
        $("#Feed").addClass('active');
    });
</script>
